web/Website/bin/*
web/Website/Debug/*
web/Website/sitecore/*
!web/Website/sitecore/shell/override/*
web/Data/indexes/*
web/Data/packages/*
web/Data/serialization/*
web/Data/logs/*
web/Data/debug/*
web/Data/diagnostics/*
web/Data/viewstate/*
*.suo
*.user
src/*/bin/*
src/*/obj/*
src/*/Debug/*
tests/Pew.*.*/bin/*
tests/Pew.*/obj/*
web/Website/obj/*
web/Data/logs/*
web/Website/temp/*
web/Data/license.xml
web/Data/viewstate/*
src/Pew.Tds.Core/Debug/*
src/Pew.Tds.Core/IconCache/*
src/Pew.Tds.Core/BuiltFiles_Debug.txt
src/Pew.Tds.Master/BuiltFiles_Debug.txt
src/Pew.Tds.Master/Debug/*
src/Pew.Tds.Master/IconCache/*
web/Data/diagnostics/counters.*
web/Data/serialization/*
web/Website/_DEV/*
web/Website/App_Config/ConnectionStrings.config
web/Website/Web.config
config/env/local.properties
web/Website/App_Config/ConnectionStrings.config
web/Website/Web.config
src/Pew.Tds.Master/T4RenderCache/*
src/Pew.Tds.Core/BuiltFiles_DebugNoTDS.txt
src/Pew.Tds.Core/bin/*
src/Pew.Tds.Core/BuiltFiles_Release.txt
src/Pew.Tds.Core/Release/*
src/Pew.Tds.Master/bin/*
src/Pew.Tds.Master/Release/*
src/Pew.Tds.Master/BuiltFiles_DebugNoTDS.txt
src/Pew.Tds.Master/BuiltFiles_Release.txt
temp/*
*.ncrunchproject
*.ncrunchsolution
web/Website/upload/*



_UpgradeReport_Files/*
UpgradeLog.*
*NewBuiltFiles_Debug.txt
web/Website/Debug
web/Website/Debug/*
src/Pew.Import/Pew.Import.v2.ncrunchproject
*.ncrunchproject
web/Website/App_Config/IISUrlRewrite.config

web/Website/nCrunchTemp_*
CSVImport.zip
Databases/*
packages/*
RelevateImport.Tds.Core/bin/*
RelevateImport.Tds.Core/obj/*
RelevateImport.Tds.Master/obj/*
RelevateImport.Tds.Master/bin/*
web/Data/RelevateFiles/*
web/Data/*
web/Website/App_Browsers/*
web/Website/App_Config/*
web/Website/App_Data/*
web/Website/Packages/*
web/Website/layouts/*
web/Website/Default.aspx
web/Website/default.css
web/Website/default.htm.sitedown
web/Website/default.js
web/Website/Global.asax
web/Website/packages.config
web/Website/Properties/AssemblyInfo.cs
web/Website/sitecore_files/Web.config
web/Website/Web.config.Oracle
web/Website/Web.Debug.config
web/Website/Web.Release.config
web/Website/webedit.css
web/Website/Website.csproj
web/Website/xsl/sample rendering.xslt
web/Website/xsl/system/WebEdit/Hidden Rendering.xslt
