<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<commands>
			<command name="usercsvimport:loadcsv" type="Sitecore.SharedSource.UserCsvImport.CustomSitecore.LoadCsvButtonAction,Sitecore.SharedSource.UserCsvImport" />
		</commands>

		<settings>
			<!-- USERCSVIMPORT.CSVFOLDER
					 The name of the folder in the /data folder that CSV files should be downloaded to and read from.
      -->
			<setting name="UserCsvImport.CsvFolder" value="UserCsvFiles" />

			<!-- USERCSVIMPORT.NEWUSERDOMAIN
					 The domain to use when creating new users and roles.
      -->
			<setting name="UserCsvImport.NewUserDomain" value="extranet" />

			<!-- USERCSVIMPORT.NEWUSERPASSWORD
					 The default password for creating a new user with the import job.
      -->
			<setting name="UserCsvImport.NewUserPassword" value="b" />

			<!-- USERCSVIMPORT.FTPHOSTNAME
					 The hostname of the FTP server where the user CSVs are located.
					 Do not include "ftp://" or trailing '/'.
					 ex. ftp.velir.com  
      -->
			<setting name="UserCsvImport.FtpHostname" value="" />

			<!-- USERCSVIMPORT.FTPUSERNAME
					 The username to authenticate with the FTP server
      -->
			<setting name="UserCsvImport.FtpUsername" value="" />

			<!-- USERCSVIMPORT.FTPPASSWORD
					 The password to authenticate with the FTP server
      -->
			<setting name="UserCsvImport.FtpPassword" value="" />
			
		</settings>

		<scheduling>
			<!-- Relevate import agent job. -->
			<agent type="Sitecore.SharedSource.UserCsvImport.CustomSitecore.UserCsvImportAgent, Sitecore.SharedSource.UserCsvImport" method="Run" interval="00:00:00">
				<!-- The path or ID of the root folder where the UserCsvSheetItems are stored. -->
				<param desc="csvFolderRoot">{48E393D3-E8CE-4EB2-AA3D-2E34733726F5}</param>
			</agent>
		</scheduling>
	</sitecore>
</configuration>